{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar %}
{% load wagtailimages_tags %}
{% block extra_css %}
{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="container bg-blue-300 mt-8">
        
        {% for post in posts %}
            {{ post.title }}
            <br />
        {% endfor %}
    </div>
    
{% include 'home/welcome_page.html' %}

{% endblock content %}
