{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar %}
{% load wagtailimages_tags %}


{% block content %}
    <div class="container grid grid-cols-3 gap-4 justify-between items-center mx-auto p-4 rounded-xl mt-8">
        
        {% for post in posts %}
            <div class="bg-gray-500 p-4 rounded-md">

                <div>
                    {% image post.article_image fill-250x250 as article_img %}
                    <a href="{{ post.url }}">
                        <img src="{{ article_img.url }}" alt="{{ article_img.alt }}">
                    
                    </a>

                </div>
                <div>
                    <a href="{{ post.url }}" class="uppercase font-bold text-xl">
                        {{ post.title }}
                    
                    </a>

                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock content %}
